<div class="col" id="central-col" style="width:800px;padding:40px;background-color:#CCCCCC;margin:auto;">

    <div>
        <h1>Contact information.</h1>
        <p>Blah blah about stuff you have done.</p>
        <p>If you would like to contact Rob Dean you can reach him at <a href="mailto:you@youremail.com?subject=RE:Smelly Chimp">this email.</a> </p>
        <p>Blah blah about stuff i have done.</p>
        <p>If you would like to contact Alex Gilkes you can reach him at <a href="mailto:you@youremail.com?subject=RE:Smelly Chimp">this email.</a> </p>
    </div>
        
<style>
        body {font-family:Keania One;}
        text-decoration:none
        h1 {font-size: 20px; text-align:center;}
        p {font-size: 15px;}
</style>

</div>