<div class="col" id="central-col" style="width:800px;padding:40px;background-color:#CCCCCC;margin:auto;">

        <div>
            <h1><strong>GAMES. </strong></h1> 
                <hr>
            <h2><strong>Monkey-Man.</strong> </h2>
                <p><small><em>A Pac-Man clone created by Rob Dean, with a little help from Alex Gilkes.</em></small> </p>
               
                <p> This is the 1st of many games we intend to produce, the aim of the game is simple- eat as many bananas as you can whilst avoiding your predators.</p>
            <a href="monkeyman.htm">Click here to start playing.
            <img src="imgtobedecidedon.jpg" alt="Monkey-Man" width="450" height="140"></a></p>
                <hr> 
        </div>
                    
        
        <div>
            <h2><strong>Historic tower defence.</strong></h2>
                <p><small><em>This game was produced by Rob Dean and designed by Alex Gilkes</em></small></p>
            
                <p>In this game you will take control of a historically (in)accurate group of defender from our history.</p>
            <a href="towerdefence.htm">Click here to start playing. 
            <img src="imgtobedecidedon.jpg" alt="Historic Tower Defence" width="450" height="140"></a></p>   
                <hr>
        </div>
           
        <div>
            <h2><strong>Bomberman.</strong></h2>
                <p><small><em>This game was produced and designed by Rob Dean.</em></small></p>
            
                <p>The game Bomberman needs no introduction, here is Smelly Chimps take on a classic.</p>
            <a href="bomberman.htm">Click here to start playing.
            <img src="imgtobedecidedon.jpg" alt="Bomberman" width="450" height="140"></a></p>   
                <hr>
        </div>
        <!-- Its fine to add Style Tags anywhere in the page. Sometimes it is better. If, for instance, you wanted to apply a style to only one element on this page. It isnt going to appear
              Anywhere else on the site, there is no point adding it to the head or to a style sheet file. -->
        <style type="text/css">
        body {color:black;text-shadow: white 0 0 20px;font-family:Keania One;}
        text-decoration:none
        h1 {text-align:center;}
        h2 {font-size: 25px}
        p {font-size: 20}
       
        </style>
        
</div>