
<div class="col" id="central-col" style="width:800px;padding:40px;background-color:#CCCCCC;margin:auto;">
        
<table width="801" cellpadding="0" cellspacing="5" border="0">
    <tr>    
        <td>
            <div id="newlogin">
            <h1>Accounts login and new accounts.</h1>
            <p>First time users please enter your details here.</p>
            <form name="input" action="html_form_action.asp" method="get">
            First name: <input type="text" name="firstname"><br>
            Last name: <input type="text" name="lastname"><br>
            Email: <input type="text" name="email"><br>
            Password: <input type="password" name="pwd">
            <input type="submit" value="Sbmit">
            </div></td>
        <td width="1" bgcolor="#000000"><img src="1-1.gif" width="1" height="1" border="0" alt="" /></td>
    
    <td>        
        <div id="loginform">
            <p>Returning user please enter your email and password here to retrieve progress</p>
            <form name="input" action="html_form_action.asp" method="get">
            Email: <input type="text" name="email"><br>
            Password: <input type="password" name="pwd">
            <input type="submit" value="Submit">
            </form>
            <p><a href="#">Forgotten your password?</a></p>
        </div></td>
            </tr>
        </table>
    <style>
       body {font-family:Keania One;}
       text-decoration:none
       h1 {text-align:center;}
       form {font-size: 15px;}
       p {font-size: 20px}
       div#newlogin {float: left;}
       div#loginform {float: right;}
    </style>
</div>

