
        
<div class="col" id="central-col" style="width:800px;padding:40px;background-color:#CCCCCC;margin:auto;">
     <div>
         <h1>Top 5 Players initials and Scores.</h1>
         <p>And now for an inspirational quote: <q>I'm quite a competitive person, so I do quite like to win.</q><sm>Hugh Jackman.</sm></p>
     </div>   
        
        <div>
            <table border="2">
                <tr>
                    <td align="center">Game.</td>
                    <td align="center">Monkey-Man.</td>
                    <td align="center">Tower Defence.</td>
                    <td align="center">Bomberman.</td>
                </tr>
                <tr>
                    <td align="left" valign="middle">1st</td>
                    <td align="left" valign="middle">...</td>
                    <td align="left" valign="middle">...</td>
                    <td align="left" valign="middle">...</td>
                </tr>
                <tr>
                    <td align="left" valign="middle">2nd</td>
                    <td align="left" valign="middle">...</td>
                    <td align="left" valign="middle">...</td>
                    <td align="left" valign="middle">...</td>
                </tr>
                <tr>
                    <td align="left" valign="middle">3rd</td>
                    <td align="left" valign="middle">...</td>
                    <td align="left" valign="middle">...</td>
                    <td align="left" valign="middle">...</td>
                </tr>
                <tr>
                    <td align="left" valign="middle">4th</td>
                    <td align="left" valign="middle">...</td>
                    <td align="left" valign="middle">...</td>
                    <td align="left" valign="middle">...</td>
                </tr>
                <tr>
                    <td align="left" valign="middle">5th</td>
                    <td align="left" valign="middle">...</td>
                    <td align="left" valign="middle">...</td>
                    <td align="left" valign="middle">...</td>
                </tr>
            </table>
        </div>
<style>
        body {font-family:Keania One;}
        text-decoration:none
        h1 {font-size: 20px; text-align:center;}
        p {font-size: 15px;}
</style>

</div>
